<li>{{ description }} (<a href="{% url 'artifacts:detail' artifact_id=artifact.id %}">#{{ artifact.id }}</a>)
    <ul>
        {% for file in artifact.files %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>
</li>