{% extends "web/_base.html" %}
{% block title %}Welcome to debusine-server!{% endblock %}
{% block content %}
    <h1>Welcome to debusine-server!</h1>
    <p>If you see this page, the debusine-server is installed.</p>

    <p>Documentation is available in the package debusine-doc.</p>
    {% if user.is_authenticated %}
        <p>
            You are authenticated as: {{ user.username }}. <a href="{% url "accounts:logout" %}">Log out</a>.
        </p>
    {% else %}
        <p>
            <a href="{% url "accounts:login" %}">Log in</a>.
        </p>
    {% endif %}
    <ul>
        <li><a href="{% url "workspaces:list" %}">List workspaces</a></li>
        <li><a href="{% url "work-requests:list" %}">List work requests</a>
            {% if user.is_authenticated %}
                <li><a href="{% url "user:token-list" %}">List your tokens</a></li>
                <li><a href="{% url "artifacts:create" %}">Create artifact</a></li>
                <li><a href="{% url "work-requests:create" %}">Create work request</a></li>
            {% endif %}
    </ul>
    {% if user.is_authenticated %}
        <h2>Your latest work requests</h2>
        {% if work_request_list %}
            {% include "web/_work_request-list.html" with work_request_list=work_request_list user=user only %}
        {% else %}
            <p>
                No work requests created by {{ user.username }}.
            </p>
        {% endif %}
    {% endif %}

    <h2>Workspaces</h2>
    {% include "web/_workspace-list.html" with workspace_list=workspace_list user=user only %}
{% endblock %}
