{% extends "web/_base.html" %}
{% block title %}Create work request{% endblock %}

{% block content %}
    <h1>Create work request</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary btn-sm" type="submit" value="Create">
    </form>
{% endblock %}
